# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Build / distribution
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking / linting
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# UV
uv.exe
uvw.exe
uvx.exe

# Logs
*.log

# test txts and mds
/documents